[submodule "extras"]
	path = extras
	url = https://github.com/Ioniobeam/extras.git
	branch = master
[submodule "quotes"]
	path = quotes
	url = https://github.com/Ioniobeam/_quotes.git
	branch = master
[submodule "figures"]
	path = figures
	url = https://github.com/Ioniobeam/_gallery
[submodule "images"]
	path = images
	url = https://github.com/Ioniobeam/images
[submodule "text"]
	path = text
	url = https://github.com/Ioniobeam/text.git
	branch = main
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/Ioniobeam/bibliography.git
